[submodule "groovy-sprites"]
	path = groovy-sprites
	url = https://github.com/Fonserbc/groovy-sprites
[submodule "fpg"]
	path = fpg
	url = https://github.com/Fonserbc/fpg
[submodule "ballbox"]
	path = ballbox
	url = https://github.com/Fonserbc/ballbox
