body {
    font-family: 'Nunito', sans-serif;
    background-color: black;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    position: fixed;
}

/* SAFE AREA */
:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

#safe-area {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*width: 100%;
    height: 100%;*/
    overflow: hidden;
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-color: #222;
    height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    touch-action:none; /*manipulation*/
}

@supports (padding-top: env(safe-area-inset-top)) {
    #safe-area {
        --safe-area-inset-top: env(safe-area-inset-top);
        height: calc(100% + var(--safe-area-inset-top));
    }
}

@media (display-mode: fullscreen) {
    #safe-area {
        height: 100%;
    }
}

@media (display-mode: standalone) {
    body {
        height: 100%;
    }
}
/* SAFE AREA */

#virtual-console {
    width: 100%;
    /*max-width: min(95vh, 2024px);*/
    max-width: min(65vh, 1024px);
}
canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
    z-index: -1;
    image-rendering: pixelated;
    background-color: black;
}

.centered-container {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#resolution {
    color: white;
    font-size: 1rem;
    margin: auto;
    margin-bottom: 4px;
    align-self: center;
    touch-action:none;
    text-shadow: 0px 0px 4px #000000;
}

#fullscreen-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: white;
    color: black;
    font-size: 1rem;
    margin: 4px;
    padding: 4px;
    touch-action:none;
}

#dpad {
    width: 40%;
    margin: 12px;
    display: block;
    touch-action: none;
    cursor: pointer;
}

#virtual-console {
    background-color:  #FFC300;
    padding-bottom: 32px;
    
    touch-action:none; /*manipulation*/
}

#controls {
    position:relative;
    touch-action:none;
    padding-bottom: 4px;
}

.round-button {
    touch-action: none;
    border-radius: 50%;
    width: 20%;
    margin-right: 12px;
    aspect-ratio: 1 / 1;
    position: absolute;
    display: block;
    cursor: pointer;
}

#r-button {
    background-color: gray;
    top:0px;
    right:0px;
}
#l-button {
    background-color: black;
    right: 22%;
    top:28%;
}

#end-button {
    display: block;
    border-radius: 32px;
    background-color: #cc2222;
    width: 128px;
    height: 48px;
    margin: auto;
    bottom: 4px;
    position: relative;
    margin-bottom: 4px;
}

.pressed-button {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
