/*
 * Fonts
 */

@font-face {
    font-family: fredericka;
    src: url(fonts/FrederickatheGreat-Regular.ttf);
}

@font-face {
    font-family: londrina;
    src: url(fonts/LondrinaShadow-Regular.ttf);
}

@font-face {
    font-family: benchnine;
    src: url(fonts/BenchNine-Light.ttf);
}

@font-face {
    font-family: benchnine-bold;
    src: url(fonts/BenchNine-Bold.ttf);
}

@font-face {
    font-family: wireone;
    src: url(fonts/WireOne.ttf);
}

@font-face {
    font-family: badscript;
    src: url(fonts/BadScript-Regular.ttf);
}


/*
 * Globals
 */

:root {
    --darker: rgb(62, 117, 130);
    --lighter: rgb(199, 229, 237);
    --transparent: rgba(255,255,255,128);
}


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}

#about-content p {
    font-family: benchnine;
    color: black;
    font-size: 24px;
    text-align-last: left;
    text-align: justify;
}

#menu-bar p {
    font-family: wireone;
    color: var(--darker);
    text-align-last: left;
    text-align: justify;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.col-content {
    background-color: #111;
    overflow-y: scroll;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.cover-container {
    background-color: var(--lighter);
}


/* Padding for spacing */

.inner {
    padding: 2rem;
}

.vertical {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.content-inner {
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    text-align-last: left;
    text-align: center;
}


/*
 * Header
 */

.nav-link {
    color: rgba(255, 255, 255, .7);
    background-color: transparent;
    border-bottom: .1rem solid transparent;
    font-family: londrina;
    text-align: center;
    margin:1rem;
}

.nav-link:hover,
.nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.active {
    color: #fff;
    border-bottom-color: #fff;
    /*text-decoration: underline;*/
    text-decoration-color: white;
}


/*
 * Footer
 */

.footer {
    position: absolute;
    color: rgba(255, 255, 255, .5);
    bottom: 0;
    width: 100%;
    min-height: 70px;
    left: 0;
    height: 7vh;
    background-color: var(--darker);
    align-content: right;
    align-items: right;
    
    -webkit-box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5), 0 -5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5), 0 -5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: fredericka;
    color: var(--darker);
}

h2 {
    font-family: badscript;
    font-size: 40px;
    text-align: left;
}

.list-info {
    margin: 1rem 0 0rem 0rem;
    padding-right: 2rem;
    text-align: justify;
    font-size: 22px;
    color: var(--darker);
    text-shadow: 0 .05rem .1rem var(--darker);
}

@media(max-width: 768px) {
    /* Smaller */
    body {
        overflow-y: scroll;
    }
    .col-content {
        background-color: #111;
        overflow-y: visible;
        height: 100%;
        
        -webkit-box-shadow: inset 0 5rem 5rem -5rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 5px 1.5rem -.1rem rgba(0, 0, 0, 0.5);
    }
    #about-content {
        padding-left: 20vw;
        padding-right: 10vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    .cover-container {
        min-height: auto;
    }
    #contact-content {
        padding-left: 15vw;
        padding-right: 15vw;
        padding-top: 30vh;
        padding-bottom: 15vh;
    }
    .about-bg {
        background-size: auto 140vh;
        background-position: -155vw -10vh;
    }
    .videos-bg {
        background-size: cover;
    }
    .events-bg {
        background-attachment: fixed;
    }
    .events-what {
        font-size: 32px;
        margin-top: 8px;
    }
    .nav-link {
        font-size: 32px;
    }
    .menu-content {
        font-size: 28px;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-top: 0vh;
        margin-bottom: 70px;
    }
    h1 {
        font-size: 64px;
        margin-top: 3vh;
        margin-bottom: 0vh;
    }
    #music-content {
        margin-left: 3vw;
    }
    #videos-content iframe {
        width: 62vw;
        height: 35vw;
    }
}

@media(min-width: 768px) {
    /* Medium */
    body {
        overflow-y: hidden;
    }
    .col-content {
        background-color: #111;
        overflow-y: scroll;
        height: 100vh;
        
        -webkit-box-shadow: inset 5rem 0 5rem -5rem rgba(0, 0, 0, 0.5);
        box-shadow: inset 5rem 0 5rem -5rem rgba(0, 0, 0, 0.5);
    }
    #about-content {
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 20%;
    }
    #contact-content {
        padding-left: 16vw;
        padding-right: 16vw;
        padding-top: 37vh;
        padding-bottom: 30vh;
    }
    .cover-container {
        min-height: 100vh;
    }
    .about-bg {
        background-size: cover;
        background-position: right;
    }
    .videos-bg {
        background-size: 108vw;
    }
    .events-what {
        font-size: 36px;
        margin-top: 8px;
    }
    .nav-link {
        font-size: 24px;
    }
    .menu-content {
        font-size: 28px;
        margin-left: 1vh;
        margin-right: 1vh;
        margin-top: -1vh;
        min-height: 60%;
        min-height: 60vh;
    }
    h1 {
        font-size: 42px;
        margin-top: 6vh;
    }
    #videos-content iframe {
        width: 50vw;
        height: 28vw;
    }
}

@media(min-width: 992px) {
    /* Large */
    .nav-link {
        font-size: 22px;
    }
    
    #about-content {
        padding-left: 15vw;
        padding-right: 7vw;
        padding-top: 20%;
    }
    .menu-content {
        font-size: 30px;
        margin-left: 2vh;
        margin-right: 2vh;
        margin-top: -2vh;
    }
    h1 {
        font-size: 54px;
    }
}

@media(min-width: 1200px) {
    /* Extra large */
    .nav-link {
        font-size: 23px;
    }
    #about-content {
        padding-left: 22vw;
        padding-right: 7vw;
        padding-top: 20%;
    }
    .menu-content {
        font-size: 32px;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-top: -5vh;
    }
    .about-bg {
        background-size: 110vw;
        background-position: right 0vh;
    }
    h1 {
        font-size: 64px;
    }
}

@media(min-width: 1560px) {
    /* Extra Extra large */
    .nav-link {
        font-size: 32px;
    }
}

.about-bg {
    background-image: url("img/about.JPG");
    background-attachment: fixed;
}

.music-bg {
    background-image: url("img/music.jpg");
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}

.videos-bg {
    background-image: url("img/videos.jpg");
    background-position: right;
    background-attachment: fixed;
}

.events-bg {
    background-image: url("img/events.jpg");
    background-size: cover;
    background-position: right;
}

.contact-bg {
    background-image: url("img/contact.JPG");
    background-size: cover;
    background-position: center;
}

.menu-content {
    padding: 2rem;
    display: flex;
    align-items: center;
}

.header {
    margin-left: -16px;
    margin-right: -16px;
    background-color: var(--darker);
    padding: 2rem;
    -webkit-box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 1.5rem .1rem rgba(0, 0, 0, 0.5);
    text-shadow: 0 .05rem .1rem var(--lighter);
}

#contact-inner {
    font-family: benchnine-bold;
    font-size: 32px;
    color: var(--darker);
}

#contact-inner input {
    background-color: var(--lighter);
    min-height: 4rem;
    border: 0;
    padding: 0.5rem;
    padding-left: 1rem;
}

#contact-inner textarea {
    margin-bottom: 3rem;
    background-color: var(--lighter);
    border: 0;
    min-height: 20rem;
}

#contact-inner button {
    text-align: center;
    min-width: 8rem;
    border: 0;
    min-height: 4rem;
    height: 55px;
    margin-top: -1px;
    background-color: var(--darker);
    color: var(--lighter);
}

#contact-inner button p {
    text-align-last: center;
    margin: auto;
    display: block;
}

#contact-inner button:hover,
#contact-inner button:focus {
    color: var(--darker);
    background-color: var(--lighter);
}

.placeholder-color::-webkit-input-placeholder {
    color: var(--darker);
}

.placeholder-color:-moz-placeholder {
    color: var(--darker);
}

.placeholder-color::-moz-placeholder {
    color: var(--darker);
}

.placeholder-color:-ms-input-placeholder {
    color: var(--darker);
}

#facebook {
    background-image: url("img/fb.png");
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#soundcloud {
    background-image: url("img/soundcloud.png");
}

#youtube {
    background-image: url("img/yt.png");
}


.social-icon {
    width: 50px;
    height: 50px;
    min-height: 50px;
    min-width: 50px;
    margin-right: 5px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 1rem;
    min-height: 50px;
}
#videos-content {
    display: block;
    margin-top: 6rem;
    align-content: center;
    position: relative;
    text-align: center;
    text-align-last: center;
}

#videos-content iframe {
    margin-bottom: 6rem;
    display: inline-block;
    float: center;
}

#videos-content div {
    display: inline-block;
    align-content: center;
    text-align: center;
    text-align-last: center;
    float: center;
    width: 100%;
}

#music-content {
    margin-top: 10vh;
}

.events-what {
    font-family: badscript;
    text-align-last: right;
    font-size: 30px;
    margin-bottom: 5rem;
}

.events-when {
    font-family: benchnine;
    font-size: 30px;
    color: var(--lighter);
    text-align-last: left;
}

.events-where {
    font-family: benchnine;
    font-size: 30px;
    color: var(--lighter);
    text-align-last: left;
}

.line {
    min-height: 2px;
    width: 100%;
    background-color: var(--lighter);
    margin-top: -10px;
}

.events-container{
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    position: relative;
    align-content: center;
    text-align: center;
    text-align-last: center;
}

.event {
    margin-bottom: 30px;
}
